<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<section id="navigation" class="container">
	</section>
</nav>
<section id="main" class="container">
</section>
<script>
	define('config', {{{browser}}});
	require.config({baseUrl:"{{{staticBase}}}vendor",paths:{templates:"../templates",models:"../javascripts/models",views:"../javascripts/views",app:"../javascripts/app",jquery:["jquery-1.11.1"],underscore:"lodash.underscore",bootstrap:"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min"},deps:["app/router"],enforceDefine:true,waitSeconds:0,shim:{underscore:{exports:"_"},json2:{exports:"JSON"}}});
</script>