<div class="container">
    <div id="main">
		<section id="login" class="row">
			<a href="https://api.instagram.com/oauth/authorize/?client_id={{clientId}}&redirect_uri={{redirectUrl}}&response_type=code&scope=likes+comments+relationships+basic" class="btn btn-primary btn-lg btn-block">Login to Instagram</a>
		</section>
    </div>
</div>