<div class="repeater-header">
  <div class="repeater-header-left">
    <div class="repeater-search">
      <div class="search input-group">
        <input type="search" class="form-control" placeholder="Search Locations"/>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
            <span class="sr-only">Search Locations</span>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="repeater-header-right">
  </div>
</div>
<div class="repeater-viewport">
  <div class="repeater-canvas">
  </div>
</div>
<div class="repeater-footer">
  <div class="repeater-footer-left">
    <div class="repeater-itemization form-inline">
	  <select class="form-control results-per-page">
		  <option value="5">5</option>
		  <option value="15" selected>15</option>
		  <option value="25">25</option>
	  </select>
      <span>Per Page</span>
    </div>
  </div>
  <div class="repeater-footer-right">
    <div class="repeater-pagination">
      <button type="button" class="btn btn-default btn-sm repeater-next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next Page</span>
      </button>
    </div>
  </div>
</div>