<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#instanette-navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/" title="{{user.full_name}}"><img src="{{user.profile_picture}}" /> {{user.username}}</a>
</div>
<div class="collapse navbar-collapse" id="instanette-navbar">
	<ul class="nav navbar-nav">
		<li><a href="/tags">Tags</a></li>
		<li><a href="/geography">Geography</a></li>
		<li><a href="/haughternaut">Haughternaut</a></li>
		<li><a href="/logout" target="_top">Logout</a></li>
	</ul>
	<p class="navbar-text navbar-right">
		v{{version}}
	</p>
</div>