.fuelux body {
  padding-top: 70px;
  padding-bottom: 20px;
}
.fuelux .navbar-brand img {
  height: 100%;
}
.fuelux .repeater-list table thead > tr > th,
.fuelux #detail h3 {
  color: #06365f;
}
.fuelux .repeater-list img {
  height: 72px;
  width: 72px;
}
.fuelux .repeater-thumbnail img,
.fuelux .repeater-thumbnail video {
  height: 150px;
  width: 150px;
  margin: 0;
  max-width: 100%;
  display: block;
  vertical-align: middle;
  border: 0;
}
.fuelux #detail .large-image {
  max-width: 100%;
}
.fuelux #detail .large-video {
  max-width: 100%;
  display: block;
  vertical-align: middle;
  border: 0;
  margin: 0;
}
.fuelux .repeater-search ul {
  display: none;
}
.fuelux .like .d {
  display: none;
}
