.fuelux body {
  padding-top: 70px;
  padding-bottom: 20px;
}
.fuelux .navbar-brand img {
  height: 100%;
}
.fuelux .repeater-list table thead > tr > th {
  color: #06365f;
}
.fuelux .repeater-list img {
  height: 72px;
  width: 72px;
}
.fuelux .repeater-thumbnail img {
  height: 150px;
  width: 150px;
  margin: 0;
}
